@model IEnumerable<CodigoComun.Modelos.DTO.ArticuloDTO>
@using CodigoComun.Negocio
<h2>Lista de Articulos</h2>
<br />
<a asp-action="Create" class="btn btn-primary">Crear</a>
@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Minimo Stock</th>
                <th>Proveedor</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articulo in Model)
            {
                <tr>
                    <td>@articulo.Id</td>
                    <td>@articulo.Nombre</td>
                    <td>@articulo.Marca</td>
                    <td>@articulo.MinimoStock</td>
                    <td>@articulo.Proveedor</td>
                    <td>@articulo.Precio</td>
                    <td>@articulo.Codigo</td>
                    <td>
                        <a asp-action="Edit" asp-route-articuloId="@articulo.Id" class="btn btn-info">Editar</a>

                        <a asp-action="Delete" asp-route-articuloId="@articulo.Id" class="btn btn-danger">Eliminar</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron Articulos.</p>
}

