@model IEnumerable<CodigoComun.Modelos.DTO.DepositoDTO>

<h2>Lista de depósitos</h2>
<br />
<a asp-action="Create" class="btn btn-primary">Crear</a>
@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Capacidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deposito in Model)
            {
                <tr>
                    <td>@deposito.Id</td>
                    <td>@deposito.Nombre</td>
                    <td>@deposito.Direccion</td>
                    <td>@deposito.Capacidad</td>
                    <td><a asp-action="Edit" asp-route-idDepositoAGuardar="@deposito.Id" class="btn btn-info">Editar</a></td>


                    <td><a asp-action="Delete" asp-route-idDepositoEliminar="@deposito.Id" class="btn btn-danger">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron depósitos</p>
}

